<div class="row">
  <div class="col-md-12">
  	 <ol class="breadcrumb" style="background-color: #F9F9F9">
          <li><a href="/programs/">All Programs</a></li>
          <li><a href="/programs/{{ episode.program.shortname }}">{{ episode.program.name }}</a></li>
          <li class="active">{{ episode.name }}</li>
     </ol>	
    <h3>{{ episode.name }}
    	<button type="button" class="btn btn-default btn-xs" ng-click="editEpisode(episode)">edit</button>
    	<br>
    	<small>{{ episode.program_name }}</small>
    </h3>
    
		<uib-tabset>


			<uib-tab heading="Episode Info">
				<br>
				<p><strong>Name:</strong> {{ episode.name }}</p>
 				<p><strong>Description:</strong> {{ episode.description }}</p>
		    <p><strong>Image:</strong> {{ episode.image }} </p>
  	    <p><strong>Publish date</strong> {{episode.pubdate |  date : 'EEEE, MMMM dd, yyyy h:mm a'}}</p>
        <div ng-show="episode.audio_url.length > 0">
          <p><strong>Audio Link:</strong> {{episode.audio_url}}</p>
          <p><strong>Audio Length:</strong> {{episode.length}} seconds</p>
          <p><strong>Audio Type:</strong> {{episode.type}}</p>
        </div>
        <p ng-hide="episode.audio_url.length > 0">You have no audio file linked to this episode.</p>
			</uib-tab>




			<uib-tab heading="Manual Upload">
      <br>
      <div ng-show="episode.audio_url.length > 0">
        <p><strong>Audio Link:</strong> {{episode.audio_url}}</p>
        <p><strong>Audio Length:</strong> {{episode.length}} seconds</p>
        <p><strong>Audio Type:</strong> {{episode.type}}</p>
      </div>
      <p ng-hide="episode.audio_url.length > 0">You have no audio file linked to this episode. You can upload one here.</p>
      <p ng-show="episode.audio_url.length > 0">Uploading a file will <strong>overwrite</strong> any previosly uploaded files and/or URLs.</p>
			<div flow-init="{testChunks:false}"
				flow-files-submitted="submit($file, $event, $flow)"
					flow-file-success="$file.msg = $message">

          <div class="btn btn-default btn" flow-btn>
            <span ng-hide="episode.audio_url.length > 0">Upload audio</span>
            <span ng-show="episode.audio_url.length > 0">Upload and overwrite existing</span>
          </div>

          <div ng-repeat="file in $flow.files">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{file.sizeUploaded() / file.size * 100 | number:10}}%;">
                {{file.sizeUploaded() / file.size * 100 | number:0}}%
              </div>
            </div>
          </div>
        </div>
			</uib-tab>


      <uib-tab heading="Content logs">
      <br>
      <div class="panel panel-default" ng-show="episode.program.stream.length > 0">
        <div class="panel-heading">Start/Stop program</div>
          <div class="panel-body">
            <button class="btn btn-success" ng-show="!episode.start_time && !episode.end_time" type="button" ng-click="startEpisode()">Start recording</button>
            <button class="btn btn-warning" ng-show="episode.start_time && !episode.end_time" type="button" ng-click="endEpisode()">{{ endRecordingText }}</button>
            <span class="pull-right" ng-show="episode.start_time">Started at {{ episode.start_time | date:"h:mma" }}</span>
            <span class="pull-right" ng-show="episode.end_time">Ended at {{ episode.end_time | date:"h:mma" }}</span>
          </div>
        </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">Track List</div>
          <div class="panel-body">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="newTrack.title" placeholder="title">
              <span class="input-group-addon"> by </span>
              <input type="text" class="form-control" ng-model="newTrack.artist" placeholder="artist">
              <span class="input-group-btn">
                <button class="btn btn-success" type="button" ng-click="saveNewTrack()">Add</button>
              </span>
            </div>
          </div>

        <!-- List group -->
        <ul class="list-group">
          <li ng-repeat="track in tracks| orderBy : '-log_time'"  class="list-group-item">
            <input ng-show="track.editing" ng-model="track.title">
            <input ng-show="track.editing" ng-model="track.artist">
            <button ng-show="track.editing" class="btn btn-success btn-xs" type="button" ng-click="edittrack(track)">Save</button>
            <button ng-show="track.editing" class="btn btn-default btn-xs" type="button" ng-click="track.editing = false">Cancel</button>
            <button ng-show="track.editing" class="btn btn-danger btn-xs" type="button" ng-click="deleteTrack(track)"><i class="fa fa-trash-o"></i></button>
            <span ng-hide="track.editing" ng-dblclick="track.editing = true">{{ track.title }} - {{ track.artist }}</span>
            <button class="btn btn-default btn-xs pull-right" ng-show="episode.start_time && !episode.end_time &&!track.log_time" ng-click="logTrack(track)" type="button">Log song</button>
            <span class="pull-right" ng-show="track.log_time && !track.editing">Logged {{ getTimeDiff(track) }} minutes into the episode</span>
          </li>
        </ul>
      </div>


      </uib-tab>


		</uib-tabset>
  </div>
</div>
