<div style="margin-top: 20px;">

  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>

  <h1>Hosting for podcasts, radio programs</h1>
  <p class="lead">Teal is a audio and feed host with a program-episode relationship. It automatically produces an iTunes feed for podcasting and logs tracks played for radio shows. It allows direct uploads or broadcast stream capture.</p>
</div>


<div class="row login">
  <div class="col-md-5">
    <form class="input-group" ng-submit="login(email)">
      <input class="form-control" type="text" ng-model="email" ng-init="checkifloggedin()" placeholder="email"></input>
      <div class="input-group-btn">
        <button type="button" class="btn btn-primary pull-right" ng-click="login(email)">Go</button>
      </div>
    </form>
  </div>
</div>

<div class="row features">
  <div class="col-sm-6">
    <h4>iTunes feed creation</h4>
    <p>For every program, Teal automatically creates an iTunes feed to publish your program as a podcast on iTunes.</p>

    <h4>Passwordless login</h4>
    <p>Teal sends an email with a special login link for logins. <a href="https://hacks.mozilla.org/2014/10/passwordless-authentication-secure-simple-and-fast-to-deploy/">No passwords</a> = no passwords to forget.</p>

    <h4>API-first</h4>
    <p>The provided frontend uses the same API that is available to you. You can build your own tools to talk to Teal or automate everything. <a href="https://github.com/wjrh/Teal/blob/master/API_DOCS.md">Read the documentation.</a></p>

    <h4>Record from a stream</h4>
    <p>Teal allows you to record live programs from a remote online stream. This way you can turn your radio station broadcast into neatly cataloged programs and episodes.</p>

  </div>

  <div class="col-sm-6">
    <h4>Flexible</h4>
    <p>Teal allows you to forward requests to your feed somewhere else if you change your mind after publishing. You can just use Teal to host your feed and not your audio files or vice versa.</p>

    <h4>Show notes with Markdown</h4>
    <p>Teal shows your show notes correctly on iTunes streams with markdown support. Links on iTunes and other providers become clickable.</p>

    <!-- <h4>Log songs and subscribe to feeds</h4>
    <p>Teal allows you to keep track of the songs on your episode. You can also subscribe to the logs live using <a href="https://en.wikipedia.org/wiki/Server-sent_events">SSE</a> if you're recording from a stream and logging at the same time. This is handy if you have a broadcast stream and want to associate tracks with the time it played on the stream.</p> -->
  </div>
</div>