<div class="row">
  <div class="col-xs-12">

  	<ol class="breadcrumb" style="background-color: #F9F9F9">
          <li class="active">All Programs</li>
          <li class="pull-right"><a href="#" ng-click="logOut()">Log Out</a></li>
     </ol>	

    <div class="list-group">
    	<h3>All programs
      <br>
      <small><ng-pluralize count="programs.length"
                 when="{'0': 'No programs',
                     'one': 'One program',
                     'other': '{} programs'}">
      </ng-pluralize></small>
    </h3>

		<p ng-hide="programs.length > 0"> You have no programs. Click on new to create one.<p>
		<a ng-repeat="program in programs | orderBy:'name'"  href="/programs/{{program.shortname}}" class="list-group-item">
			<span class="badge" ng-repeat="tag in program.tags">{{tag}}</span>
			{{program.name}}
		</a>
    </div>

  </div>
</div>
