<div class="modal-header">
  <h3 class="modal-title">Editing {{ program.name || "new program"}}</h3>
</div>


<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <uib-accordion>
         <uib-accordion-group heading="What is this program?">
          <label>Name:</label>
          <input class="form-control" type="text" ng-model="program.name">
          <label>Subtitle:</label>
          <input class="form-control" type="text" ng-model="program.subtitle">
          <label>Square Image URL (1400x1400):</label>
          <input class="form-control" type="text" ng-model="program.image">
          <label>Cover Image URL (480x960):</label>
          <input class="form-control" type="text" ng-model="program.cover_image">
          <label>Description:</label>
          <textarea style="height:10em" class="form-control" ng-model="program.description"></textarea>
         </uib-accordion-group>
         <uib-accordion-group heading="Who is involved with the program?">
          <label>Author(s):</label>
          <input class="form-control" type="text"  ng-model="program.author">
          <label>Owner Emails:</label>
          {{ program.owners }} <input class="form-control" ng-list ng-model="program.owners">
         </uib-accordion-group>
         <uib-accordion-group heading="When is the program?">
          <label>Scheduled Time:</label>
          <input class="form-control" type="text" ng-model="program.scheduled_time">
         </uib-accordion-group>
         <uib-accordion-group heading="Advanced Options">
         <label>Language: </label>
          <input class="form-control" type="text" ng-model="program.language">
          <label>iTunes Categories: </label>
          {{ program.itunes_categories }} <input class="form-control" ng-list ng-model="program.itunes_categories">
          <label>Copyright Notice: </label>
          <input class="form-control" type="text" ng-model="program.copyright">
          <label>Tags: </label>
          {{ program.tags }} 
          <input class="form-control" ng-list ng-model="program.tags" >
          <label>Organizations: </label>
          {{ program.organizations }} <input class="form-control" ng-list ng-model="program.organizations">
          <label>Shortname: </label>
          <input class="form-control" type="text" ng-model="program.shortname">
          <label>Redirect URL: </label>
          <input class="form-control" ng-model="program.redirect_url">
          <label>Stream: </label>
          <input class="form-control" type="text"  ng-model="program.stream">
          <label>Explicit content:</label>
          <p>Mark explicit if this program contains any explicit content.</p>
          <div class="btn-group">
            <label class="btn btn-default" ng-model="program.explicit" uib-btn-radio="null" >Unset</label>
            <label class="btn btn-default" ng-model="program.explicit" uib-btn-radio="true" >Explicit</label>
            <label class="btn btn-default" ng-model="program.explicit" uib-btn-radio="false" >Clean</label>
          </div>
         </uib-accordion-group>
      </uib-accordion>
    </div>
  </div>
</div>

  
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  <button class="btn btn-danger pull-left" type="button" ng-click="delete()">Delete</button>
</div>
