<div class="modal-header">
  <h3 class="modal-title">Editing {{ program.name || "new program"}}</h3>
</div>


<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <uib-accordion>
         <uib-accordion-group heading="What is this program?">
          Name: <input class="form-control" type="text" ng-model="program.name">
          Subtitle: <input class="form-control" type="text" ng-model="program.subtitle">
          Square Image URL (1400x1400): <input class="form-control" type="text" ng-model="program.image">
          Cover Image URL (480x960): <input class="form-control" type="text" ng-model="program.cover_image">
          Description: <textarea style="height:10em" class="form-control" ng-model="program.description"></textarea>
         </uib-accordion-group>
         <uib-accordion-group heading="Who is involved with the program?">
          Author(s): <input class="form-control" type="text"  ng-model="program.author">
          Owner Emails: {{ program.owners }} <input class="form-control" ng-list ng-model="program.owners">
         </uib-accordion-group>
         <uib-accordion-group heading="When is the program?">
          Scheduled Time: <input class="form-control" type="text" ng-model="program.scheduled_time">
         </uib-accordion-group>
         <uib-accordion-group heading="Advanced Options">
          Language: <input class="form-control" type="text" ng-model="program.language">
          iTunes Categories: {{ program.itunes_categories }} <input class="form-control" ng-list ng-model="program.itunes_categories">
          Copyright Notice: <input class="form-control" type="text" ng-model="program.copyright">
          Tags: {{ program.tags }} <input class="form-control" ng-list ng-model="program.tags">
          Organizations: {{ program.organizations }} <input class="form-control" ng-list ng-model="program.organizations">
          Shortname: <input class="form-control" type="text" ng-model="program.shortname">
          Redirect URL: <input class="form-control" ng-model="program.redirect_url">
          Stream: <input class="form-control" type="text"  ng-model="program.stream">
         </uib-accordion-group>
      </uib-accordion>
    </div>
  </div>
</div>

  
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  <button class="btn btn-danger pull-left" type="button" ng-click="delete()">Delete</button>
</div>
