@charset "UTF-8";

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

ng\:form {
  display: block;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  .login {
    padding-bottom: 40px;
    padding-top: 10px;
  }
  .features {
    padding-bottom: 100px;
  }
}

