# teal configuration
domain:
front_end_subdomain:
api_subdomain:

#mongo and redis configuration
mongo_url:
redis_url:

# email configuration
smtp_server:
smtp_user:
smtp_password:
login_source_email:

#media storage configuration
media_path: