<h1>Logger#logger</h1>
<%= form_tag("/episodes/new", method: "post") do %>
  <%= label_tag('name', "Name:") %>
  <%= text_field_tag('name') %>
  <%= submit_tag("Submit") %>
<% end %>
<p>Find me in app/views/logger/logger.html.erb</p>
