<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>WJRH Teal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="description" content="">
  <meta name="author" content="WJRH">
</head>
<body>

  <div class="container">
    <div class="row navbar">
      <div class="col-md-3">
        <div class="logo"></div>
      </div>
      <div class="col-md-9">
        <div class="vert-divider"></div>
        <div class="nowplaying" id="nowplaying">
          <button id="play" class="play" onclick="togglePlay()">
            <div class="nowplaying-status">
              <div style="color: red" id="liveicon"><i class="fa fa-play"></i></div>
              <div id="listen-button">LISTEN NOW</div>
            </div>
          </button>
          <div class="nowplaying-dj" id="nowplaying-dj">
            <i class="fa fa-microphone"></i>
            <div id="djdata">LOADING</div>
          </div>
          <div class="nowplaying-song">
            <i class="fa fa-music"></i>
            <div id="songdata">LOADING</div>
          </div>
        </div>
      </div>
    </div>
</div>

    
      <%= yield %>
    

  <div class = "bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="logo"></div>
        </div>
        <div class="col-md-3">
          <h5>About</h5>
          <p>WJRH is Lafayette College’s student run radio station located broadcasting since 1946. You can listen to us on 104.9MHz on the radio in the Lehigh Valley area. Our studios are located in Hogg Hall, on Lafayette College’s campus.</p>
        </div>
        <div class="col-md-3">
          <h5>Contact</h5>
          <p>WJRH Secretariat</p>
          <p>Box 9473<br>111 Quad Drive<br>Easton, PA 18042</p>
          <br>
          <p>
            <div id="email"></div>
            <SCRIPT TYPE="text/javascript">
            document.getElementById('email').innerHTML = 'wjrh@' + 'lafayette.edu';
            </SCRIPT>
          </p>
          <br>
          <p>Please do not use the words "unsubscribe", "click", "♫" and "GOP" in your emails. </p>
        </div>
        <div class="col-md-3">
          <h5>Follow us</h5>
          <a href="https://twitter.com/wjrh1049fm/"><p>Twitter</p></a>
          <a href="https://www.facebook.com/WJRH1049"><p>Facebook</p></a>
          <a href="http://instagram.com/wjrhradio"><p>Instagram</p></a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

